body{
    font-family: 'Inter', sans-serif;
}

.logo img{

    /* width:250px !important; */

    max-width:100%;

    height:auto;

}

.banner-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto;
}

@media (max-width:768px){

    .banner-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 2rem 1rem 0;
}

    .banner-wrapper h1{
    font-size: 3.5rem;
    font-weight: 700;
}

}

